<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.earning.dekhai">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".notification.MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/dekai"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dekhai">
        <activity
            android:name=".screen.ProductPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".screen.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.ShoppingPage"
            android:exported="true" />
        <activity
            android:name=".screen.payment_history_cashout"
            android:exported="false" />
        <activity
            android:name=".screen.ProfessionalCourses"
            android:exported="false" />
        <activity
            android:name=".screen.LearningJobRecruitmentPage"
            android:exported="false" />
        <activity
            android:name=".screen.LearningCompetitiveExam"
            android:exported="false" />
        <activity
            android:name=".screen.LearningSkillDevelopmentPage"
            android:exported="false" />
        <activity
            android:name=".screen.LanguageLearningPage"
            android:exported="false" />
        <activity
            android:name=".screen.LearningPageHome"
            android:exported="false" />
        <activity
            android:name=".screen.payment_history"
            android:exported="true" />
        <activity
            android:name=".screen.gold_membership_page"
            android:exported="false" />
        <activity
            android:name=".screen.silver_membership_page"
            android:exported="false" />
        <activity
            android:name=".screen.contact_us"
            android:exported="true" />
        <activity
            android:name=".screen.order_list_page"
            android:exported="true" />
        <activity
            android:name=".screen.wallet_to_withdraw"
            android:exported="true" />
        <activity
            android:name=".screen.view_wallet_page"
            android:exported="true" />
        <activity
            android:name=".screen.earn_cash"
            android:exported="true" />
        <activity
            android:name=".screen.earn_cash_view_page"
            android:exported="true" />
        <activity
            android:name=".screen.payment_page"
            android:exported="true" />
        <activity
            android:name=".screen.free_membership_page"
            android:exported="true" />
        <activity
            android:name=".screen.membership_page"
            android:exported="true" />
        <activity
            android:name=".screen.profile_page"
            android:exported="true" />
        <activity
            android:name=".authentication.RegistrationPage"
            android:exported="false" />
        <activity
            android:name=".screen.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LogInPageActivity"
            android:exported="false" />
        <activity
            android:name=".screen.GoldTaskActivity"
            android:exported="false" />
        <activity
            android:name=".screen.PremiumTaskActivity"
            android:exported="false" />
        <activity
            android:name=".screen.FreeTaskActivity"
            android:exported="false" />
        <activity
            android:name=".screen.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".screen.MembarShipActivity"
            android:exported="false" />
        <activity
            android:name=".screen.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".screen.ProfileData"
            android:exported="false" />
        <activity
            android:name=".screen.Wallet"
            android:exported="false" />
        <activity
            android:name=".screen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.VerifyPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.PhoneNumber"
            android:exported="false" />
        <activity
            android:name=".screen.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>