<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.earning.dekhai">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".notification.MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dekhai">
        <activity
            android:name=".authentication.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.RegistrationPage"
            android:exported="false" />
        <activity
            android:name=".authentication.LogInPageActivity"
            android:exported="false" />
        <activity
            android:name=".screen.GoldTaskActivity"
            android:exported="false" />
        <activity
            android:name=".screen.PremiumTaskActivity"
            android:exported="false" />
        <activity
            android:name=".screen.FreeTaskActivity"
            android:exported="false" />
        <activity
            android:name=".screen.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".screen.MembarShipActivity"
            android:exported="false" />
        <activity
            android:name=".screen.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".screen.ProfileData"
            android:exported="false" />
        <activity
            android:name=".screen.Wallet"
            android:exported="false" />
        <activity
            android:name=".screen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.VerifyPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.PhoneNumber"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>